body {
	padding: 0;
	margin : 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.box {
	background: #fff;
	padding: 30px;
	width: calc(100%/4);
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s all;
	box-sizing: border-box;
	flex : auto;
}

.box > div {
	box-sizing: border-box;
}

.title {
	font-size: 13px;
	color: rgb(0,0,0,.8);
}

.avatar > img {
	height: 70px;
	width: 70px;
	border-radius : 100%;
}

.box > .social {
	margin-top: 0.8rem;
	width: 60%;
	opacity: 0;
	transition : .3s all;
	display: flex;
	justify-content: space-around;
}
.social > a {
	/*border: 1px solid red;*/
	transition: 0.2s all;
	color: black;
}

.box:hover {
	transform: scale(1.05);
	box-shadow: 0 0 4px rgba(0,0,0,1);
}

.box:hover .social {
	opacity: 1;
}

.box:hover .avatar {
	animation : animationAvarta 0.4s;
}



.social > a:hover{
	transform: rotate(360deg) scale(1.2);
	/*transform: scale(1.5);*/
}

.social > a:nth-child(1):hover {
	color: blue;
}

.social > a:nth-child(2):hover {
	color: aqua;
}

.social > a:nth-child(3):hover {
	color: purple;
}


@keyframes animationAvarta {
	0% {
		transform: scaleY(0.7) scaleX(1.2) 
	}
	35%{
		transform: scaleY(0.7) scaleX(1.2) 
	}
	40%{
		transform: scale(1.15);
	}
	60%{
		transform: scale(0.9);
	}
	80% {
		transform: scale(1.05);
	}
	100%{
		transform: scale(0.95);
	}
}