/*CSS combinators
descendent selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)*/

/*.item {
	color:red;
}*/


/*.list-1 .item {
	color: red;
}*/


/*.list-1 > .item {
	border : 1px solid #333;
}*/


/*.list-1 .item-1 + .item{
	color:red;
}*/

.list-2 .item-1 ~ .item {
	color: red;
}